body {
	font-family: 'Poppins', serif;
	padding-top: 3.5rem;
	color: #4B5175;
}

hr {
	margin-top: 0rem;
	margin-bottom: 0rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar {
	padding: 1.25rem 1rem;
	text-transform: uppercase;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #4B5175;
}

.dropdown-item {
	padding: 0.5rem 1.5rem;
	color: rgba(75, 81, 117, 0.5);
}

.hero-banner {
	background-image: url(../images/hero-banner.png);
	background-size: cover;
	padding: 160px 0px 140px 0px;
	border-radius: 0rem !important;
}

.sub-banner {
	background-image: url(../images/sub-banner.png);
	background-size: cover;
	padding: 160px 0px 140px 0px;
	border-radius: 0rem !important;
}

.gradient-button {
	transition: 0.5s;
	background-size: 200% auto;
	color: #FFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	cursor: pointer;
	border-radius: 8px;
}

.gradient-button:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
		0 6px 6px rgba(0, 0, 0, 0.23);
	margin: 0px 10px 0px;
}

.gradient-button-1 {
	background-image: linear-gradient(to right, #767069 0%, #9A8F7E 100%);
}

.gradient-button-1:hover {
	background-position: right center;
	color: #fff;
}

.gradient-button-2 {
	background-image: linear-gradient(to right, #3628C1 0%, #5F51E4 100%);
	border-radius: 50px;
}

.gradient-button-2:hover {
	background-position: right center;
	color: #fff;
}

.bold {
	font-weight: 600 !important;
}

.black {
	font-weight: 700 !important;
}

h1 {
	font-size: 60px !important;
	font-weight: 600 !important;
	line-height: 80px !important;
}

h2 {
	font-size: 45px !important;
	font-weight: 600 !important;
	line-height: 68px !important;
}

h3 {
	font-size: 22px !important;
	font-weight: 600 !important;
	line-height: 33px !important;
}

h4 {
	font-size: 36px !important;
	font-weight: 600 !important;
	line-height: 48px !important;
}

h5 {
	font-size: 18px !important;
	font-weight: 600 !important;
	line-height: 33px !important;
}

.light-purple {
	color: #4657C3;
}

.img-center {
	margin: auto;
	display: block;
}

.cta-section {
	background-color: #F5F6FF;
}

.section-alt {
	background-color: #FBFBFB;
}

.footer-section {
	background-color: #4B5175;
}

a:hover {
	text-decoration: none !important;
}

.text-link-white {
	color: #fff;
}

.text-link-white:hover {
	color: #2A9D8F;
	text-decoration: none;
	font-weight: 600;
}

.text-link-purple {
	color: #4657C3;
}

.text-link-purple:hover {
	color: #2A9D8F;
	text-decoration: none;
	font-weight: 600;
}

.text-link-white-alt {
	color: #fff;
}

.text-link-white-alt:hover {
	color: #2A9D8F;
	text-decoration: none;
	font-weight: 600;
}

.terms-link {
	color: #4B5175;
}

.terms-link:hover {
	text-decoration: none !important;
	color: #2A9D8F;
	font-weight: 600;
}

@media (max-width: 992px) {

	.text-link-white {
		display: flex;
	}

	.text-right-alt {
		text-align: left !important;
	}
}


html {
	scroll-behavior: smooth;
}

.contact-form {
	background-color: #F5F6FF;
	padding: 50px;
	border-radius: 10px;
}

.label-custom {
	font-size: 14px;
	font-weight: 600;
}

.hidden {
	display: none;
}
